*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

.navbar {
  width: 100%;
  background-color:  #31b5da;
  overflow: auto;
  text-align: center;
  display: flex;
  max-width: 100%;

}

.navbar a {
  float: none;
  padding: 14px;
  color: rgb(15, 0, 0);
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
  max-width: 100%;
}



.wrapper-main{
  width: 100%;
  padding: 100px 0;
  margin: 0 auto;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKVIlprY9-K8RthL8Gy2zIQ9iT1UXNLXUkiQ&s);
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Ensures the image is fixed in the viewport */
  overflow: hidden;

}

.wrapper-main p{
  color: #2b2626;
  float: none;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
  font-size: 18cqi;
  filter: none;
  
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

#contact{
  background-color: rgba(65, 151, 204, 0.5);
  font-family: 'Times New Roman', Times, serif;
  float: none;
  text-align: center;
  padding: 10px 0;
}

footer .contact-links a{
  margin: 20px;
  font-size: 45px;
  text-decoration: none;
  transition: 0.4s ease-out;
}

.fa-linkedin{
  color: #0077b5;
}

.fa-facebook{
  color: rgb(39, 70, 245);
}

.fa-youtube{
  color: #ff0000;
}

.fa-whatsapp{
  color: #25d366;
}
.fa-envelope{
  color: #d93025;
}

footer .contact-links a:hover{
  color: rgb(255, 255, 255);
}