body, ul, li, a {
  margin: 0;
  list-style: none;
  text-decoration: none;

}

/* Navigation bar styling */
nav {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  color: black;
  padding-bottom: 20px;
}

/* Hamburger menu icon */
.hamburger {
  display: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  cursor: pointer;
}

/* Menu styling */
.menu {
  display: flex;
}

.menu li {
  position: relative;
}

.menu li a {
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: block;
}

/* Dropdown menu styling */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100px;
  z-index: 1;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff6f6;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  display: list-item;
  text-align: left;
}

.dropdown-content a:hover {
  color: #d52f2f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Search bar styling */
.search-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  margin: 0 20px;

}

.search-bar {
  padding: 8px;
  border: bold;
  border-radius: 4px;
  margin-right: 5px;
  width: 200px;
}

.search-button {
  padding: 8px 12px;
  background-color: #555;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #777;
}

/* Left and centered menu alignment */
.left-menu {
  justify-content: flex-start;
}

.centered-menu {
  justify-content: inherit;  
}

/* Responsive Design */


.hero {
  background-image: url('https://images.unsplash.com/photo-1557683316-973673baf926');
  text-align: center;
  padding: 8rem 4rem;
}

.hero h2 {
  font-size: 2rem;
  color: #fff;
  margin-top: auto;
}

.hero h1 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.cta-button {
  background: #007BFF;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  font-size: 1rem;
  margin-top: 1rem; 
}

h3{
  color: #000000;
  font-size: 3.5rem;
  margin-top: 2rem;
  text-align: center;
  padding: 30px auto;
}


@media (max-width: 768px) {
  /* Hide regular menu and show hamburger icon */
  .menu {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #fff6f6;
  }

  .menu.active {
      display: flex;
  }

  .hamburger {
      display: block;
  }

  .search-container {
      order: 3;
      width: 100%;
      margin: 10px 0;
  }

  .dropdown-content {
      position: relative;
  }
}

