.about{
    background-color: rgb(226, 244, 221);
  }
  
  
  .about h1{
    font-size: 35px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    float: none;
    text-decoration: underline
  
  }

  .about P{
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: fit-content;
    padding-bottom: 20px;
  }