* {

    box-sizing: border-box;
  }

  .container {
    background-attachment: fixed;
    background-color: rgb(254, 254, 254);
    display: block;
    margin-left: auto;
    padding: 2px;
    margin: 0px;
  }

  img {
    width: 200px;
    height: 250px;
    padding: 5px;
    border-radius: 0px;
    shape-image-threshold: 0.5;
   }
