* {
    box-sizing: border-box;
  }

  .container {
    background-attachment: fixed;
    background-color: rgb(246, 244, 242);
    display: block;
    unicode-bidi: isolate;
    padding: 2px;
    justify-content: center;
  }

  img {
    width: 200px;
    height: 250px;
    padding: 5px;
    border-radius: 0px;
    shape-image-threshold: 0.5;
   }
